__pycache__/
*.py[cod]
*.pyo
*.log

db.sqlite3
*.sqlite3
media/
staticfiles/

.env
.venv/
venv/

.vscode/

.DS_Store

**/migrations/*.pyc
**/migrations/__pycache__/

htmlcov/
.coverage
*.cover
.cache
nosetests.xml
coverage.xml
*.log
*.pot

.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.pytest_cache/
.pylint.d/