__pycache__/
*.py[cod]
*.pyo
*.log

db.sqlite3
*.sqlite3
media/
staticfiles/

.env
.venv/
venv/

.vscode/

.DS_Store

**/migrations/*.py
!**/migrations/__init__.py
**/migrations/__pycache__/
**/migrations/*.pyc



htmlcov/
.coverage
*.cover
.cache
nosetests.xml
coverage.xml
*.log
*.pot

.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.pytest_cache/
.pylint.d/